:root {
  --main-text-color: white;
  --orange-dark: #ef8c0e;
  --orange-light: #f39c12;
  --dark-gray: #1b1c1d;
  --light-gray: #e8e8e8;
  --lighter-gray: #f1f1f1;
  --opaque-gray: rgba(80, 80, 80, 0.5);
  --gray: #2c2d2d;
  --error: #9f3a38;
  --color-won: #006600;
  --color-lost: #ff1a1a;
}
