@import '_variables.css';

/* Match List */

.match-list-item:not(:first-of-type) {
  margin-top: 14px;
}

.match-list-item {
  color: var(--dark-gray);
  cursor: pointer;
}

.match-list-item-grid-main {
}

.match-list-item-grid-main-row-1 {
  background: var(--light-gray);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  margin: 0 !important;
  border: 1px solid var(--opaque-gray);
}

.match-list-item-grid-main-row-2 {
  padding: 0 !important;
  margin-bottom: 14px !important;
  background-color: var(--opaque-gray) !important;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;

  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-color: var(--opaque-gray);
}

.match-list-item-grid-main-name {
  font-weight: 900;
  font-size: 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.match-list-item-grid-main-percentage {
  font-size: 18px;
  font-weight: bolder;
  color: var(--orange-dark);
}

.match-list-item-grid-main-logo {
  min-width: 40px !important;
  max-width: 80% !important;
}

.match-list-item-grid-main-tournament img {
  max-height: auto !important;
  max-width: 80% !important;
  -webkit-filter: grayscale(10%);
  filter: grayscale(10%);
  opacity: 0.8;
}

.match-list-item-grid-main-vs {
  font-family: Arial;
  letter-spacing: 1px;
}

.live-label {
  border: 1px solid green !important;
  border-radius: 0px !important;
  font-weight: 500;
  margin-bottom: 10px !important;
  background: transparent !important;
  color: green !important;
}
