@import '_variables.css';

/* Generic classes */

.dark-orange-bg {
  background: var(--orange-dark) !important;
}

.light-orange-bg {
  background: var(--orange-light) !important;
}

.black-bg {
  background: #1b1c1d !important;
}

.white-bg {
  background: white !important;
}

.font-white {
  color: white !important;
}

.font-dark-orange {
  color: var(--orange-dark);
}

.font-light-orange {
  color: var(--orange-light);
}

.font-error {
  color: var(--error) !important;
}

.word-wrap {
  word-wrap: break-word;
}

.float-left {
  float: left !important;
}

.font-size-xsmall {
  font-size: x-small !important;
}

.height-100 {
  height: 100% !important;
}

.margin-top-0 {
  margin-top: 0 !important;
}

/* Menu */

.menu {
  margin-top: 1.2em !important;
  margin-bottom: 2.2em !important;
  background: var(--orange-dark) !important;
}

.menu-admin {
  margin-top: 0em !important;
  margin-bottom: 2.2em !important;
  background: var(--orange-dark) !important;
  border-radius: 0px !important;
}

.menu,
.menu-admin img {
  cursor: pointer;
}

.user-avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
  filter: contrast(7);
  -webkit-filter: contrast(7);
}

.user-column-right-signout-button {
  margin-top: 0.6em !important;
}

.ui.menu .token:before {
  background: rgba(34, 36, 38, 0.15) !important;
}

/* Components */

.dark-button {
  background: #1b1c1d !important;
  color: white !important;
}

.orange-button-dark {
  background: var(--orange-dark) !important;
  color: white !important;
}

.orange-button-light {
  background: var(--orange-light) !important;
  color: white !important;
}
