@import '_variables.css';
@import '_animations.css';

/* Token */

.betting-box-div .token .token-amount {
  font-size: 17px;
}

.token.last-bets-token {
  height: 30px;
}

.betting-box-div .token .token-logo {
  height: 40px;
  font-size: 17px;
  padding-right: 10px;
  padding-left: 10px;
}

.betting-box-div .token .token-logo img {
  height: 40px;
  width: auto;
}

.lastbets-token {
  width: 100%;
  height: 20px;
}

.token.last-bets-token .token-amount span {
  font-size: 12px;
}

.token.last-bets-token .token-logo {
  height: 20px;
  width: auto;
}

.token.last-bets-token .token-logo img {
  height: 20px;
  width: auto;
}

/* TokenBox Item */

.balance-box {
  overflow: auto;
}

.balance-box-token,
.winnings-box-token {
  float: left;
  margin: 0 1em 1em 0;
  width: 30%;
  min-width: 120px;
}

.balance-box-token {
  cursor: pointer;
}

.balance-box-token .label:hover {
  cursor: pointer !important;
}

.balance-box-token-inactive {
  cursor: default;
}

/* BettingBox Row */

.betting-box-row {
  padding: 0.6em 0 0.6em 0 !important;
}

.betting-box-row:first-of-type {
  padding-top: 0px !important;
}

.betting-box-div {
  height: 50px !important;
  border: 1px solid var(--opaque-gray);
  border-radius: 4px;
  background: rgba(80, 80, 80, 0.05);
  box-shadow: 0 0.5px 0 0 #ffffff inset, 0 1px 2px 0 #b3b3b3;
}

.betting-box-div-filled {
  padding: 0em 0 0em 0 !important;
  /* border: 0;
  box-shadow: none; */
}

.betting-box-disabled {
  opacity: 0.55;
}

/* Betting button, Info-Bet */

.button-bet,
.info-bet {
  margin-top: 1.4em !important;
}

/* Range-Slider */

.rangeslider-horizontal .rangeslider__fill {
  background-color: var(--main-color-light) !important;
}

.rangeslider-horizontal .rangeslider__handle:focus {
  outline: 0px transparent !important;
}

.rangeslider-horizontal {
  border: 1px solid rgba(34, 36, 38, 0.15) !important;
}

.rangeslider {
  margin: 0;
}

.range-slider-inactive {
  opacity: 0.2 !important;
  filter: grayscale(80%);
  -webkit-filter: grayscale(80%);
}

.range-slider-inactive * {
  cursor: default !important;
}

/* Teams */

.team-label {
  width: 90px;
  height: 78px;
  text-align: center;
  border-radius: 4px;
  padding: 4px;
  margin: 0 auto;
  margin-bottom: 5px;
  position: relative;
  background-color: var(--lighter-gray) !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 1px solid transparent !important;
}

.team-label .team-label-logo {
  max-height: 68px;
  max-width: 68px;
  padding: 6px;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.teams-grid {
  background-color: var(--main-color-light) !important;
  border-radius: 5px !important;
}

.team-name {
  font-size: large;
}

.team-label-picked {
  border: 1px solid var(--dark-gray) !important;
}

.team-name-picked {
  font-weight: bold;
}

.team-percentage {
  font-size: large;
  margin: 0;
}

.team-odds {
  font-size: x-small;
}

/* Layout of match columns */

.orange-label {
  background-color: var(--main-color-light) !important;
  color: white !important;
}

/* Bet Button + Estimated reward labels */

.bet-container {
  padding-top: 1em;
}

/* Confirm Bet Modal */

.confirm-bet-modal-img-div {
  position: relative;
  width: 150px;
  height: 150px;
}

.confirm-bet-modal-img-divider {
  border: 1px var(--dark-gray) solid;
  border-radius: 1px;
  width: 212px;
  transform: rotate(45deg);
  transform-origin: top left;
  background-color: var(--dark-gray);
  opacity: 0.7;
}

.confirm-bet-modal-img {
  padding: 8px;
  position: absolute !important;
  max-width: 65px !important;
  max-height: 65px;
  display: inline;
}

.confirm-bet-modal-img-picked {
  border-radius: 5px;
  border: 1px solid black;
  right: 0px;
  top: 0px;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -webkit-animation: pulsate 0.9s ease-in-out infinite both;
  animation: pulsate 0.9s ease-in-out infinite both;
}

.confirm-bet-modal-img-notpicked {
  bottom: 0px;
  left: 0px;
  -webkit-filter: grayscale(60%);
  filter: grayscale(60%);
}

.confirm-bet-modal-header {
  background-color: var(--main-color-light) !important;
  color: white !important;
}

.confirm-bet-modal-ul {
  margin: 0 !important;
}

.odds-message {
  display: block;
  color: var(--dark-gray);
  font-size: x-small;
  padding-top: 1em !important;
}

/* MatchDetails */

.league-image {
  max-height: 80px !important;
  max-width: 150px !important;
  padding: 0.2em;
}

.league-caption {
  font-size: medium;
  color: var(--dark-gray);
  font-weight: bold;
}

.details-list * {
  margin-bottom: 5px;
}

.match-details-live-label {
  background: green !important;
  color: white !important;
}

/* Last bets */

.last-bets-row {
  background-color: var(--dark-gray);
  margin-bottom: 15px;
  border-radius: 5px;
  padding: 10px !important;
}

.last-bets-token-column {
  padding: 4px 4px 4px 4px !important;
}

.img-team-reveal {
  border: 0;
  filter: brightness(0) invert(1);
}

/* Bet info */

.bet-info * {
  margin-bottom: 10px;
}

.bet-info {
  color: var(--dark-gray) !important;
  text-transform: uppercase;
}

.bet-info-status-lost {
  color: var(--lost-color) !important;
}

.bet-info-status-won {
  color: var(--won-color) !important;
}

/* Winnings Box */

.confetti {
  width: 1px;
  margin: 0 auto;
}

.winnings-box-token-hidden {
  display: none;
}

.winnings-box-token-animated {
  -webkit-animation: entrance-1 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
  animation: entrance-1 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
}

.bet-lost-info span {
  font-size: 16px;
  color: var(--lost-color);
}

.bet-lost-info p {
  font-size: 100px;
  color: var(--dark-gray);
  text-align: center;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
}

.bet-lost-info .bet-lost-info-smiley-2 {
  transform: rotate(90deg) translateX(-80px);
}

/* Winner tick */

.match-team-winner {
  position: absolute;
  top: 0;
  width: 40px;
  height: auto;
}

.match-team-winner-left {
  left: 0;
  display: inline-block;
  transform: translateX(-14px) translateY(-15px);
}

.match-team-winner-right {
  right: 0;
  display: inline-block;
  transform: translateX(14px) translateY(-15px);
}
