@import '_variables.css';
@import '_animations.css';

/* Token */

.token {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  background-color: var(--light-gray) !important;
  border: 1px solid var(--opaquer-gray) !important;
}

.token span {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  display: block;
}

.token img {
  /* transform: scale(0.8);
  -webkit-transform: scale(0.8); */
  float: right !important;
  max-width: 30px !important;
  min-width: 22px !important;
}

.balancebox-token {
  width: 100% !important;
}

/* TokenBox Item */

.balance-box-token {
  float: left;
  margin: 0 1em 1em 0;
  width: 30%;
}

.balance-box-token .label:hover {
  cursor: pointer !important;
}

/* BettingBox Row */

.betting-box-row {
  padding: 0.6em 0 0.6em 0 !important;
}

.betting-box-row:first-of-type {
  padding-top: 0px !important;
}

.betting-box-segment-filled {
  padding: 0em 0 0em 0 !important;
}

/* Betting button, Info-Bet */

.button-bet,
.info-bet {
  margin-top: 1.4em !important;
}

/* Range-Slider */

.rangeslider-horizontal .rangeslider__fill {
  background-color: var(--orange-light) !important;
}

.rangeslider-horizontal .rangeslider__handle:focus {
  outline: 0px transparent !important;
}

.rangeslider-horizontal {
  border: 1px solid rgba(34, 36, 38, 0.15) !important;
}

.rangeslider {
  margin: 0;
}

.range-slider-inactive {
  opacity: 0.2 !important;
  filter: grayscale(80%);
  -webkit-filter: grayscale(80%);
}

.range-slider-inactive * {
  cursor: default !important;
}

/* Teams */

.teams-grid {
  background-color: var(--orange-light) !important;
  border-radius: 5px !important;
}

.odds-label {
  /* font-family: var(--font-numbers) !important; */
}

.team-name {
  font-size: large;
}

.team-label {
  background-color: var(--lighter-gray) !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* cursor: pointer; */
  border: 1px solid transparent !important;
}

.team-label img {
  transform: scale(1.2);
}

.team-label-picked {
  border: 1px solid var(--dark-gray) !important;
}

.team-name-picked {
  font-weight: bold;
}

.team-percentage {
  font-size: large;
  margin: 0;
}

.team-odds {
  font-size: x-small;
}

/* Layout of match columns */

.orange-label {
  background-color: var(--orange-light) !important;
  color: white !important;
}

/* Bet Button + Estimated reward labels */

.bet-container {
  padding-top: 1em;
}

/* Confirm Bet Modal */

.confirm-bet-modal-img-div {
  position: relative;
  width: 150px;
  height: 150px;
}

.confirm-bet-modal-img-divider {
  border: 1px var(--dark-gray) solid;
  border-radius: 1px;
  width: 212px;
  transform: rotate(45deg);
  transform-origin: top left;
  background-color: var(--dark-gray);
  opacity: 0.7;
}

.confirm-bet-modal-img {
  padding: 8px;
  position: absolute !important;
  max-width: 65px !important;
  max-height: 65px;
  display: inline;
}

.confirm-bet-modal-img-picked {
  border-radius: 5px;
  border: 1px solid black;
  right: 0px;
  top: 0px;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -webkit-animation: pulsate 0.9s ease-in-out infinite both;
  animation: pulsate 0.9s ease-in-out infinite both;
}

.confirm-bet-modal-img-notpicked {
  bottom: 0px;
  left: 0px;
  -webkit-filter: grayscale(60%);
  filter: grayscale(60%);
}

.confirm-bet-modal-header {
  background-color: var(--orange-light) !important;
  color: white !important;
}

.confirm-bet-modal-ul {
  margin: 0 !important;
}

.odds-message {
  display: block;
  color: var(--dark-gray);
  font-size: x-small;
  padding-top: 1em !important;
}

/* MatchDetails */

.league-image {
  max-height: 80px !important;
  max-width: 150px !important;
  padding: 0.2em;
}

.league-caption {
  font-size: medium;
  color: var(--dark-gray);
  font-weight: bold;
}

.details-list * {
  margin-bottom: 5px;
}

.match-details-live-label {
  background: green !important;
  color: white !important;
}

/* Last bets */

.last-bets-row {
  background-color: var(--dark-gray);
  margin-bottom: 15px;
  border-radius: 5px;
  padding: 10px !important;
}

.lastbets-token {
  width: 100%;
}

.lastbets-token span {
  font-size: 80%;
}

.lastbets-token img {
  /* transform: scale(0.7);
  -webkit-transform: scale(0.7); */
}

.lastbets-token img {
  width: 80%;
}

.last-bets-token-column {
  padding: 4px 4px 4px 4px !important;
}

.img-team-reveal {
  border: 0;
  filter: brightness(0) invert(1);
}

/* Bet info */

.bet-info * {
  margin-bottom: 10px;
}

.bet-info {
  color: var(--dark-gray) !important;
  text-transform: uppercase;
}

.bet-info-status-lost {
  color: var(--color-lost) !important;
}

.bet-info-status-won {
  color: var(--color-won) !important;
}
