:root {
    --orange-dark: #e67e22;
    --orange-light: #f39c12;
    --dark-gray: #1b1c1d;
    --error: #9f3a38;
}

/* Generic classes */

.dark-orange-bg {
    background: var(--orange-dark) !important;
}

.light-orange-bg {
    background: var(--orange-light) !important;
}

.font-white {
    color: white !important;
}

.font-error {
    color: var(--error) !important;
}

/* Item */

.token-label {
    width: 100% !important;
}

/* TokenBox Item */

.token-box-item {
  float: left;
  margin: 0 1em 1em 0;
  width: 30%;
}

.token-box-item .label:hover {
    cursor: grab !important;
}

.token-box-item-dragging {
    opacity: 0.1;
}

/* BettingBox Row */

.betting-box .row:first-of-type {
    padding: 1em 0 0.6em 0 !important;
}
.betting-box .row:not(:first-child) {
    padding: 0.6em 0 0.6em 0 !important;
}

/* BettingBox Item */

.betting-box-item-hovered {
    background: #ddd !important;
}

.betting-box-item-candrop {
    background: rgb(56, 57, 58, 0.2) !important;
    transform: scale(1.1);
    transition-duration: 0.3s;
}

.betting-box-item-dropped {
    padding: 0em 0 0em 0 !important;
}

.betting-box-item-dropped .label:hover {
    background: rgb(255, 51, 0, 0.15) !important;
}

/* Betting button, Info-Bet */

.button-bet, .info-bet {
    margin-top: 1.4em !important;
}

/* Range-Slider */

.rangeslider-horizontal .rangeslider__fill {
    background-color: var(--orange-light) !important;
    
}

.rangeslider-horizontal .rangeslider__handle:focus {
    outline: 0px transparent !important;
}

.rangeslider-horizontal {
    border: 1px solid rgba(34,36,38,.15) !important; 
}

.rangeslider {
    margin: 0;
}

/* Menu */

.menu {
    margin-top: 1.2em !important;
    margin-bottom: 2.2em !important;
    background: var(--orange-dark) !important;
}

.user-avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%; 
    overflow: hidden;
    filter: contrast(7); 
    -webkit-filter: contrast(7);
    box-shadow: 0 0px 8px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.user-column-right-signout-button {
    margin-top: 0.6em !important;
}

.ui.menu .item:before {
    background: rgba(34,36,38,.15) !important;
}

/* Teams */

.teams-grid {
    background: var(--orange-light) !important;
    border-radius: 5px !important;
}

.team-name {
    font-size: large;
    cursor: pointer;
}

.team-name-picked {
    font-weight: bold;
}

.team-label {
    background: white !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* cursor: pointer; */
    border: 1px solid transparent !important;
}

.team-label-picked {
    border: 1px solid var(--dark-gray) !important;
}

.team-percentage {
    font-size: large;
    margin: 0;
}

.team-odds {
    font-size: x-small;
}

/* Layout of match columns */

.orange-label {
    background: var(--orange-light) !important;
    color: white !important;
}

/* Bet Button + Estimated reward labels */

.bet-container {
    padding-top: 1em;
}