@import '../_variables.css';

.setup-box {
  background: var(--dark-gray);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  color: white;
}

.setup-box-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.setup-box-row:not(:first-of-type) {
  border-top: 1px solid var(--opaque-gray);
}

.setup-box-row-title {
  padding-left: 20px;
  padding-right: 0;
}

.setup-box-row-checkbox {
  padding-right: 20px;
  margin-left: 20px;
}

/* Server stats */

.server-stats-item-key,
.server-stats-item-value {
  font-size: 14px;
}

.server-stats-item {
  margin-top: 18px;
  margin-bottom: 18px;
}

.server-stats-item-key {
  font-weight: bolder;
  background: var(--dark-gray);
  color: white;
  padding: 6px;
  border-radius: 2px;
}

.server-stats-item-value {
  margin-left: 8px;
}

/* Collections */

.collections button {
  margin-bottom: 10px !important;
}
