@import '../_variables.css';

.dropdown-div {
  width: 100% !important;
  border: 2px dashed rgba(34, 36, 38, 0.15);
  color: rgba(34, 36, 38, 0.5);
  text-align: center;
  height: 100px;
  line-height: 100px;
}
.dropdown-div-accepted {
  border-color: var(--orange-dark);
}

.dropdown-div-rejected {
  border-color: var(--error);
  color: var(--error);
}

.dropdown-div-error {
  border-color: var(--error);
  color: var(--error);
  background-color: #fff6f6;
}

.label-warning {
  margin: 1em 0 1em 0 !important;
}
